<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ca201c13-b5ac-473f-bb78-0c508b91cdc2/resourceGroups/Traffic_Device/providers/Microsoft.Web/sites/TrafficWebApplication</ResourceId>
    <ResourceGroup>Traffic_Device</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trafficwebapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trafficwebapplication.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TrafficWebApplication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TrafficWebApplication</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TrafficDataConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=trafficdata.database.windows.net;Initial Catalog=TrafficData;Persist Security Info=True;User ID=serveradmin;Password=Admin2017" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=trafficdata.database.windows.net;Initial Catalog=TrafficData;Persist Security Info=True;User ID=serveradmin;Password=Admin2017" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TrafficDataConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=trafficdata.database.windows.net;Initial Catalog=TrafficData;Persist Security Info=True;User ID=serveradmin;Password=Admin2017" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TrafficDataConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=trafficdata.database.windows.net;Initial Catalog=TrafficData;Persist Security Info=True;User ID=serveradmin;Password=Admin2017</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>